.nav-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 25px;
}

.nav-link {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link.active {
  color: blue;
  text-decoration: underline;
}